header {
  background-color: pink;
  text-align: left;
  padding-bottom: 10%;
  font-color: grey;
}
h1{
  font-style: italic;
}
section {
  content:""
  display: inline-block;
  clear:both;
}
img {
  height: 50%;
  width: 50%;
}
body {
  margin: auto;
  width: 50%;
}

a{text-decoration: underline;
}
